# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# Unity
*.csproj
*/*csproj
*.sln
*.vcproject
*.pidb
*.csproj
*.exe

# Mac
.DS_Store
*.DS_Store
**/.DS_Store
**/**/.DS_Store

# Git Conflicts
*.BASE
*.MINE
*.OTHER

# monodevelop project files
JPJR/Library
JPJR/Temp
JPJR/Assembly-CSharp-Editor-vs.csproj
JPJR/Assembly-CSharp-Editor.csproj
JPJR/Assembly-CSharp-firstpass-vs.csproj
JPJR/Assembly-CSharp-firstpass.pidb
JPJR/Assembly-CSharp-vs.csproj
JPJR/Assembly-CSharp.csproj
JPJR/Assembly-CSharp.pidb
JPJR/Assembly-UnityScript.pidb
JPJR/assembly-csharp-firstpass.csproj
JPJR/assembly-unityscript-vs.unityproj
JPJR/assembly-unityscript.unityproj
JPJR/Assembly-UnityScript-Editor-firstpass-vs.unityproj
JPJR/Assembly-UnityScript-Editor-firstpass.unityproj
JPJR/Assembly-UnityScript-firstpass-vs.unityproj
JPJR/Assembly-UnityScript-firstpass.unityproj
JPJR/Assembly-UnityScript-vs.unityproj
JPJR/Assembly-UnityScript.unityproj
JPJR/RedsRevenge.userprefs
JPJR/Assembly-Boo-vs.booproj
JPJR/Assembly-Boo.booproj
